.swiper-logo {
    max-width: 20%;
}

.howWeWorkImage {
    max-width: 16rem;
}

.whyUsIcon {
    width: 3rem;
}

.sectorsIcon {
    width: 2rem;
}

.servicesIcon {
    width: 2.5rem;
}

@media (min-width: 992px) {
    .drawer-item {
        display: none;
    }

    .header-item {
        display: block;
    }
}

@media (max-width: 991px) {
    .drawer-item {
        display: block;
    }

    .header-item {
        display: none;
    }
}

